{% extends "visit_base.html" %}
{% block visit %}
<p class="subheading">{{ kind }}</p>
<p class="lede">{{ attendance }}</p>
<div class="subject">
  <h2 class="heading">The record</h2>
  <ul class="tiles">
    {% for section in sections %}
    <li class="tile"><a href="/visits/{{ visit_id }}/sections/{{ section.slug }}">
      <p class="{{ section.mark }}">{{ section.word }}</p>
      <p class="subheading">{{ section.name }}</p>
    </a></li>
    {% endfor %}
  </ul>
</div>
<p class="note"><a href="/visits/{{ visit_id }}/home-readings">{{ home_readings }}</a></p>
<p class="lede">{{ emergencies }}</p>
{% endblock %}
